extends layout

block content
  .container
    .row.justify-content-center
      .col-md-8
        .card.shadow
          .card-body
            .text-center.mb-4
              img(src="https://cdn-icons-png.flaticon.com/512/2750/2750681.png" alt="Logo" width="80")
              h2.text-primary.mt-2 Registro de Paciente

            form(action="/admision" method="POST")
              .form-check.mb-3
                input.form-check-input(type="checkbox" id="guardia" name="guardia")
                label.form-check-label(for="guardia") Derivado por Guardia

              .input-group.mb-3
                input.form-control(type="text" name="dni" placeholder="Ej: 43123456" required)
                button.btn.btn-outline-primary(type="button") Buscar

              .row.mb-3
                .col
                  label.form-label Nombre Completo
                  input.form-control(type="text" name="nombre" placeholder="Ej: sancho poncho" required)
                .col
                  label.form-label Dirección
                  input.form-control(type="text" name="direccion" placeholder="Ej: avenida siempre viva" required)

              .row.mb-3
                .col
                  label.form-label Teléfono
                  input.form-control(type="text" name="telefono" placeholder="Ej: 2664101020")
                .col
                  label.form-label Contacto de Emergencia
                  input.form-control(type="text" name="emergencia" placeholder="Ej: 2664525287")

              .row.mb-3
                .col
                  label.form-label Fecha de Nacimiento
                  input.form-control(type="date" name="nacimiento" required)
                .col
                  label.form-label Localidad
                  input.form-control(type="text" name="localidad" placeholder="Ej: San Luis")

              .row.mb-3
                .col
                  label.form-label Obra Social
                  input.form-control(type="text" name="obra_social" placeholder="Ej: PAMI")
                .col
                  label.form-label Sexo
                  select.form-select(name="sexo" required)
                    option(value="" selected disabled) Seleccionar
                    option(value="M") Masculino
                    option(value="F") Femenino
                    option(value="X") No binario / Otro

              button.btn.btn-primary.w-100(type="submit") Registrar Paciente