extends layout

block content
  .container.mt-5.mb-5
  .card.shadow
    .card-body.p-4
      .text-center.mb-4
        img(src="/img/sistemhisimg.png" alt="Logo" width="100")
        h3.text-primary.mt-2 Registrar Admision

      form(action="/admision" method="POST")
          .row.g-3
            .col-md-6
              label.form-label Paciente
              select.form-select(name="pacienteId" required)
                option(value="" disabled selected) Seleccionar paciente
                each paciente in pacientes
                  option(value=paciente.id)= `${paciente.dni} - ${paciente.nombre_completo}`

            .col-md-6
              label.form-label Fecha de ingreso
              input.form-control(type="date" name="fecha_ingreso" required)

            .col-md-12
              label.form-label Motivo de admisión
              input.form-control(type="text" name="motivo" placeholder="Ej: Neumonía" required)

            .col-md-12
              .form-check.form-switch
                input.form-check-input(type="checkbox" name="derivado_guardia")
                label.form-check-label(for="derivado_guardia") Derivado por Guardia

          .text-center.mt-4
            button.btn.btn-primary(type="submit") Registrar Admisión