extends layout

block content
  .container.vh-100.d-flex.align-items-center.justify-content-center
    .text-center
      img.d-block.mx-auto.mb-4(src="/img/sistemhisimg.png", alt="Logo HIS", style="max-width: 150px;")
      
      h1.display-4.fw-bold.text-body-emphasis Gesti贸n Hospitalaria
      p.lead.mb-5 Sistema de admisi贸n y gesti贸n de pacientes.
      
      .d-grid.gap-3.d-sm-flex.justify-content-sm-center
        
        a.btn.btn-primary.btn-lg.px-4(href="/admision") Iniciar Admisi贸n

        form(action="/admision", method="POST", style="margin:0;")
          input(type="hidden", name="tipo_ingreso", value="Emergencia")
          input(type="hidden", name="motivo", value="Ingreso por Guardia")
          button.btn.btn-danger.btn-lg.px-4(type="submit") Ingreso por Emergencia

        a.btn.btn-outline-secondary.btn-lg.px-4(href="/pacientes") Gestionar Pacientes