extends layout

block content
  h2.text-center.mb-4 Ficha de Internación del Paciente

  .card.shadow.mb-4
    .card-body
      h5.text-primary Datos del Paciente
      dl.row
        dt.col-sm-3 Nombre completo
        dd.col-sm-9 Juan Pérez

        dt.col-sm-3 DNI
        dd.col-sm-9 30123456

        dt.col-sm-3 Sexo
        dd.col-sm-9 Masculino

        dt.col-sm-3 Fecha de nacimiento
        dd.col-sm-9 1990-01-01

  .card.shadow.mb-4
    .card-body
      h5.text-primary Detalles de la Internación
      dl.row
        dt.col-sm-3 Fecha de ingreso
        dd.col-sm-9 2025-06-01

        dt.col-sm-3 Derivado por guardia
        dd.col-sm-9 Sí

        dt.col-sm-3 Ala / Habitación / Cama
        dd.col-sm-9 Norte / 202 / Cama 1

        dt.col-sm-3 Motivo de internación
        dd.col-sm-9 Dolor abdominal agudo

  .card.shadow
    .card-body
      h5.text-primary Evaluación de Enfermería
      p Se tomó temperatura, presión y frecuencia. Se informó malestar leve y náuseas.
      button.btn.btn-outline-primary.mt-2(type="button") Ver evolución médica
    
  .card.shadow.mt-4.mb-5
     .card-body
      h5.text-primary Alta Médica
      form(action="/alta" method="POST")
        .row.mb-3
            .col-md-6
                label.form-label.text-muted.small Fecha de Alta
                input.form-control.bg-body-tertiary.border-0.rounded-2.px-3.py-2(type="date" name="fecha_alta" required)

            .col-md-6
                label.form-label.text-muted.small Motivo de Alta
                textarea.form-control.bg-body-tertiary.border-0.rounded-2.px-3.py-2(style="resize: none")(name="motivo" rows="1" required)

      input(type="hidden" name="pacienteId" value="123") 

      .row
        .col-md-12
           button.btn.btn-success.mt-2.px-4.py-2.rounded-3(type="submit") Confirmar Alta