extends layout

block content
  h2 Pacientes Registrados

  table.table.table-hover
    thead.table-dark
      tr
        th DNI
        th Nombre
        th Fecha Nac.
        th Sexo
        th Obra Social
    tbody
     
      tr
        td 30123456
        td Juan Pérez
        td 1990-01-01
        td M
        td PAMI